.community-container {
  position: relative;
  margin: 20px 20px 0 20px;
  width: calc(100vw - 40px);
  height: calc(100vh + 500px);
}

.community-body {
  position: absolute;
  width: 100%;
  margin-top: 100px;
  height: max-content;
}

.community-menu {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.small-menu-card {
  width: 140px;
  height: 30px;
  text-align: center;
}

.small-menu-card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-post {
  font-size: 16px;
  font-weight: 600;
}
