.student-container {
  width: 100%;
}
.student-sub-title:last-child::after {
  content: "";
}

.student-project-wrap {
  width: 80%;
  /* height: calc(100vh - 100px); */
  padding: 0 10%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: #f8f8f8;
}

.student-project-wrap::-webkit-scrollbar {
  width: 10px;
}
.student-project-wrap::-webkit-scrollbar-thumb {
  background-color: #8da9e1;
  border-radius: 10px;
}
.student-project-wrap::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  border-radius: 10px;
}

.project-card {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.project-card .project-simple-info {
  font-size: 14px;
}

/*모달 스타일*/
.new__review__modal .modal-inner {
  width: 50vw;
  /* height: 85vh; */
  overflow-y: scroll;
}
.display-modal {
  word-break: keep-all;
}

.display-modal-container {
  width: 95%;
  height: 98%;
  padding: 1% 2.5%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.new__review__modal .modal-inner::-webkit-scrollbar {
  width: 10px;
}
.new__review__modal .modal-inner::-webkit-scrollbar-thumb {
  background-color: #8da9e1;
  border-radius: 10px;
}
.new__review__modal .modal-inner::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  border-radius: 10px;
}
.display-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.display-title-container .display-simple-desc {
  margin-left: 20px;
}

.display-simple-desc .display-title {
  font-weight: 600;
  font-size: 28px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.display-title .award-tag {
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 10%;
  padding: 3px 10px;
  border-radius: 0.3rem;
}
.award-tag.gold {
  background-color: #fff2b3;
}

.award-tag.silver {
  background-color: #dce4e8;
}

.award-tag.bronze {
  background-color: #ffd5b3;
}

.award-tag.award {
  background-color: #b3e8ff;
}

.display-simple-desc .display-developer {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #5b5b5b;
}
.display-simple-desc .display-tag {
  font-size: 15px;
  margin-top: 20px;
}

.display-modal-img {
  width: 150px;
  height: 150px;
}

.display-desc-container {
  width: 100%;
  /* background-color: aliceblue; */
}

.display-link {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #8da9e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.display-link.github {
  background-color: black;
  color: white;
}
.display-desc-box {
  line-height: 140%;
  margin-top: 25px;
}

.display-desc-box .display-box-title {
  color: #5b5b5b;
  font-size: 13px;
  margin-bottom: 20px;
}

.display-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.display-row .display-desc-box:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .new__review__modal .modal-inner {
    width: 90vw;
    height: 70vh;
    overflow-y: scroll;
  }
}

@media (max-width: 600px) {
  .student-project-wrap {
    width: 96%;
    padding: 0 2%;
  }
  .project-container {
    margin: 0;
  }
  .project-card {
    width: 35vw;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display-simple-desc .display-title {
    font-weight: 600;
    font-size: 20px;
  }
  .display-simple-desc .display-developer {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #5b5b5b;
  }
  .display-simple-desc .display-tag {
    font-size: 13px;
    margin-top: 10px;
  }

  .display-modal-img {
    width: 100px;
    height: 100px;
  }

  .display-link {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .display-desc-box {
    font-size: 14px;
  }

  .display-desc-box .display-box-title {
    color: #5b5b5b;
    font-size: 12px;
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .student-project-wrap {
    width: 96%;
    padding: 0 2%;
    overflow-y: scroll;
  }
  .project-container {
    width: calc(100vw - 20% - 20px);
  }
  .project-card {
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .project-card .display-modal-img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
}

/*동아리*/

.student-club {
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.club-card-container {
  margin: 2px;
  margin-bottom: 20px;
  width: 300px;
  height: 500px;
  perspective: 1100px;
}
.club-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}
.front,
.back {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 2px 2px 10px #e0e0e0;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front .club-name {
  margin-top: 30px;
  font-size: 1.25rem;
}

.front .club-short {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 0.8rem;
}
.front .club-hover-info {
  font-size: 0.7rem;
  margin: auto 20px 20px auto;
}
/* // 뒷면은 사전에 미리 뒤집기 */
.back {
  background: white;
  transform: rotateY(180deg);
}

/* // 호버 시 뒤집기 */
.club-card-container:hover .club-card {
  transform: rotateY(180deg);
}
.club-card .club-logo {
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 4px #e0e0e0;
  width: 100%;
  height: 25%;
  background-repeat: no-repeat;

  background-position: center;
}
.club-card .club-logo.init {
  background-image: url(../../../public/img/init_logo.png);
  background-color: #47a7da;
}
.club-card .club-logo.com {
  background-image: url(../../../public/img/com_logo.png);
}
.club-card .club-logo.chemicom {
  background-image: url(../../../public/img/chemicom_logo.png);
}
.club-card .club-content {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.club-card .club-name {
  font-weight: 600;
  padding-top: 10px;
}
.club-card .club-info {
  margin: 5px 0;
  font-weight: 600;
}
.club-card .club-who {
  font-size: 0.7rem;
}

.club-card .club-what {
  font-size: 0.9rem;
}

.club-card .club-who {
  font-size: 0.9rem;
}

.club-card .club-link {
  cursor: pointer;
}
