.main-content-test {
  min-height: 100vh;
  width: 1200px;
  height: 630px;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 200px 200px 230px;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

.block:last-child {
  text-align: end;
}
.block:nth-child(1),
.block:last-child {
  padding: 20px 14px;
}

.block:nth-child(2) {
  grid-column-start: span 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.block:nth-child(4) {
  grid-column-start: span 2;
  grid-column-end: 3;
}

/*공지사항 한눈에*/
.main-info-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 14px;
}

/*빠른 메뉴*/
.main-fast-block {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 80px);
  gap: 10px;
}
.fast-block {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.fast-block:hover {
  color: rgb(var(--blue));
}

.menu-card-container {
  position: relative;
  width: 100%;
  height: 100%;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

/*공지사항 스크롤 목록*/
.scroll-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  display: grid;
  grid-auto-columns: 260px;
  grid-auto-flow: column;
}
.menu-card {
  width: 200px;
  border: 1px solid rgb(234, 234, 234);
}
.bulletin {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
}
.bulletin-link {
  text-decoration: none;
  color: black;
}
.bulletin-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.bulletin-post {
  font-size: 0.9rem;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.subscribe-button {
  padding-left: 10px;
  font-size: 1rem;
}

.getsub {
  color: rgb(var(--blue));
}

.subscribe-button.unsub {
  color: #b7b7b7;
}
.button-text {
  font-size: 0.75rem;
  margin-left: 5px;
}

/*학생활동*/
.main-interact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.main-interact {
  background-color: salmon;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: calc(100% / 3 - 10px);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
}

.main-interact:nth-child(1) {
  background-image: url(../../../public/img/program.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.main-interact:nth-child(2) {
  background-image: url(../../../public/img/exhibition.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.main-interact:nth-child(3) {
  background-image: url(../../../public/img/conversation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.main-interact:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.main-interact:nth-child(3):hover .please-login {
  color: #00ff6e;
}

.please-login {
  font-weight: 400;
  font-size: 0.75rem;
  color: transparent;
}

.notice-arrow-img {
  width: 90%;
}

.st-act-arrow-img {
  width: 90%;
  transform: scaleX(-1);
}

@media (max-width: 510px) {
  .notice-arrow-img,
  .st-act-arrow-img {
    display: none;
  }
  .main-content-test {
    height: max-content;
    padding-top: 0;
    grid-template-columns: 90%;
    grid-template-rows: 10px 350px 170px 100px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
  }
  .block:last-child {
    display: none;
  }
  .block:nth-child(1) {
    margin-right: auto;
    padding: 0 14px;
    justify-items: start;
  }

  .block:nth-child(2) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .block:nth-child(4) {
    grid-row: span 1;
    grid-column: span 1;
  }

  .main-info-title {
    font-size: 1.2rem;
  }
  .menu-card {
    height: calc(100% - 70px);
  }

  .bulletin {
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
  }

  .main-interact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-interact {
    background-color: salmon;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
  }
  .main-fast-block {
    gap: 10px calc((100vw - 240px) / 3);
  }
}
