.main-container-test {
  position: relative;
  margin: 0;
  width: 100%;
  word-break: keep-all;
}

.main-grid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.main-content-test {
  min-height: 100vh;
  padding-top: 70px;
  width: 1200px;
  height: 630px;
  display: grid;
  grid-template-rows: 200px 200px 230px;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

.main-info-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 14px;
}

.block:last-child {
  text-align: end;
}
.block:nth-child(1),
.block:last-child {
  padding: 20px 14px;
}

/* .block {
  background-color: antiquewhite;
} */
.block:nth-child(2) {
  grid-column-start: span 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.block:nth-child(4) {
  grid-column-start: span 2;
  grid-column-end: 3;
}

.menu-card-container {
  position: relative;
  width: 100%;
  height: 100%;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.cardddd {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  display: grid;
  grid-auto-columns: 260px; /* 반드시! */
  grid-auto-flow: column; /* row 를 가지지않을거라면 반드시! */
}
.menu-card {
  width: 200px;
}

.main-interact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.main-interact {
  background-color: salmon;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: calc(100% / 3 - 10px);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
}
/* .main-interact.not-contact {
  pointer-events: none;
} */

.main-interact:nth-child(1) {
  background-image: url(../../../public/img/program.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.main-interact:nth-child(2) {
  background-image: url(../../../public/img/exhibition.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.main-interact:nth-child(3) {
  background-image: url(../../../public/img/conversation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.main-interact:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.main-interact:nth-child(3):hover .please-login {
  color: #00ff6e;
}

.please-login {
  font-weight: 400;
  font-size: 0.75rem;
  color: transparent;
}

.notice-arrow-img {
  width: 90%;
}

.st-act-arrow-img {
  width: 90%;
  transform: scaleX(-1);
}

.main-fast-block {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 80px);
  gap: 10px;
}
.fast-block {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  /* border: 1px solid rgb(var(--blue)); */
  width: 80px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.fast-block:hover {
  color: rgb(var(--blue));
}

.bulletin {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
}
.bulletin-link {
  text-decoration: none;
  color: black;
}

.bulletin-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.subscribe-button {
  padding: 0 10px;
  font-size: 1rem;
}

.getsub {
  color: rgb(var(--blue));
}

.subscribe-button.unsub {
  color: #b7b7b7;
}
.sub:hover::after {
  font-size: 0.75rem;
  content: "알림 구독 중";
}
.unsub:hover::after {
  font-size: 0.75rem;
  content: "알림 해제됨";
}
.cantsub:hover::after {
  font-size: 0.75rem;
  content: "알림 불가";
}

.bulletin-post {
  font-size: 0.9rem;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
