.mypage-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.myinfo-box {
  border-bottom: 1px solid rgb(var(--basic-blue));
  padding: 20px;
}
.myinfo-value {
  padding: 5px 0;
  font-size: 0.8rem;
  color: rgb(86, 86, 86);
}
.myinfo-label {
  padding: 5px 0;
}

.logoutbtn {
  cursor: pointer;
}
