.prof-img {
  width: 150px;
  height: 200px;
  max-width: 150px;
}

.prof-body.scroll-fix {
  height: calc(100vh - 200px);
  width: 100%;
}

.prof-table {
  margin-left: 20px;
}

.prof-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table-item {
  padding-right: 2vw;
}

.prof-card-link {
  text-decoration: none;
  color: black;
}
