.headerWrap {
    position: absolute;
  
    width: calc(100% - 20px);
    height: 70px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(137, 163, 216, 0.58);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "Inter";
    word-break: keep-all;
    z-index: 100;
    background: linear-gradient(
      150deg,
      white 300px,
      rgb(var(--basic-blue)) 300px 100%
    );
    transition: 0.5s;
  }
  
  .headerWrap.block {
    height: 280px;
  }
  
  .headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 38px;
    margin-left: 2vw;
    height: 70px;
    text-decoration: none;
    color: black;
  }
  
  .headerDesc {
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    margin-left: 1vw;
    padding-top: 0.5vw;
    width: max-content;
  }
  
  .headerMenu.web {
    position: relative;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    height: 70px;
  
    margin-left: auto;
  
    border-radius: 0 10px 10px 0;
  }
  
  .headerMenu.web .headerButtonWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .headerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
  
    padding: 0 2vw;
    cursor: pointer;
  }
  
  .headerMenu.web .headerButtonWrap:hover {
    background-color: white;
  }
  .headerMenu.web .headerButtonWrap:hover .headerLink {
    color: rgb(var(--blue));
  }
  
  .headerLink {
    text-decoration: none;
    color: black;
  }
  .headerHoverMenu {
    transition: 0.5s;
  }
  
  .headerMenu.web .headerHoverMenu {
    position: absolute;
  
    width: 100%;
  
    font-size: 15px;
    line-height: 2em;
    text-align: center;
  
    padding: 70px 1.7vw 0 1.7vw;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }
  
  .hoverMenuButton {
    padding: 0.5em 0;
    border-bottom: 1px solid rgb(var(--blue));
  }
  
  .hoverMenuButton:hover {
    background-color: rgb(var(--blue));
  }
  .hoverMenuButton:hover .headerLink {
    color: white;
  }
  .headerMenu.web .hoverMenuButton:hover .headerLink {
    color: white;
  }
  
  /* 모바일 메뉴 */
  
  .headerMenu.mobile {
    position: relative;
    width: calc(100% - 40px);
  }
  .mobileMenuIcon {
    position: absolute;
    right: 8px;
    top: 13px;
    width: 50px;
    height: 50px;
    color: black;
    left: auto;
    cursor: pointer;
  }
  .mobileMenuIcon.ham {
    width: 40px;
    right: 13px;
  }
  
  .headerMenu.mobile .headerButton .headerLink {
    /*모바일에서 사용할 것*/
    pointer-events: none;
    cursor: default;
  }
  
  .headerMenu.mobile .headerButtonWrap {
    text-align: center;
  }
  .headerMenu.mobile .headerButtonWrap:nth-child(2) {
    margin-top: 70px;
  }
  
  .headerMenu.mobile .headerButton .headerLink::after {
    position: absolute;
    right: 20px;
    margin-left: 10px;
    content: "▼";
  }
  
  .headerMenu.mobile .headerButtonWrap.focus {
    background-color: white;
    color: rgb(var(--blue));
  }
  
  .headerMenu.mobile .hoverMenuButton {
    background-color: rgb(var(--blue));
  }
  .headerMenu.mobile .hoverMenuButton .headerLink {
    color: white;
  }
  
  .headerMenu.mobile .headerButtonWrap.focus .headerButton .headerLink::after {
    content: "▲";
  }
  
  @media (min-width: 1200px) {
    .headerMenu.mobile {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .headerMenu.web {
      display: none;
    }
    .headerWrap.block {
      height: max-content;
    }
  }
  
  @media (max-width: 600px) {
    .headerWrap {
      background: linear-gradient(
        150deg,
        white 150px,
        rgb(var(--basic-blue)) 150px 100%
      );
      width: calc(100vw - 40px);
    }
    .headerTitle {
      font-size: 30px;
      flex-direction: column;
      justify-content: center;
    }
    .headerDesc {
      font-size: 13px;
      line-height: 12px;
      margin-top: -5px;
      margin-left: -5px;
    }
  }
  
  @media (max-width: 500px) {
    .headerWrap {
      width: calc(100vw - 40px);
    }
    .headerTitle {
      font-weight: 600;
      font-size: 25px;
    }
    .headerDesc {
      font-size: 8px;
      line-height: 9px;
    }
  }
  
  @media (max-width: 350px) {
    .headerButtonWrap .headerButton {
      font-size: 15px;
    }
  }
  
  @media (max-width: 300px) {
    .headerButtonWrap .headerButton {
      font-size: 15px;
    }
    .headerMenu.mobile .headerButton .headerLink::after {
      position: absolute;
      right: 20px;
      margin-left: 10px;
      content: "";
    }
  
    .headerMenu.mobile .headerButtonWrap.focus .headerButton .headerLink::after {
      content: "";
    }
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /*animation*/
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }