/*create post*/
.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-info {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: auto;
  padding-left: 5%;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 95%;
}
.create-form {
  width: 90%;
  padding: 0 5%;
}

.create-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.create-section:nth-child(2) {
  align-items: flex-start;
}

.create-section input {
  width: calc(100% - 30px);
  padding: 5px 15px;
  border: 2px solid rgb(var(--basic-blue));
  border-radius: 5px;
  height: 2rem;
}

.create-section textarea {
  width: calc(100% - 30px);
  font-family: inherit;
  padding: 15px;
  overflow-y: scroll;
  resize: horizontal;
  border: 2px solid rgb(var(--basic-blue));
}

.post-title {
  margin-right: 20px;
  margin-bottom: 5px;
}

.create-title {
  height: 5vh;
}

.create-desc {
  height: 40vh;
}
.create-desc.exhibition {
  height: 5rem;
}

.create-post-container .button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.create-post-container .button-group .form-button {
  z-index: 200;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #b4b6b8;

  cursor: pointer;
}
.form-button:nth-child(2) {
  background-color: rgb(var(--basic-blue));
  border: 2px solid rgb(var(--blue));
}

@media (max-width: 650px) {
  .post-title {
    font-size: 12px;
    margin-right: 10px;
  }

  .post-title.desc {
    font-size: 12px;
    margin: 5px 10px 0 0;
  }

  .create-post-container .button-group {
    right: 10px;
  }
}

/*read post*/
.article-img {
  max-width: 500px;
  width: 60%;
  margin-left: 20px;
}
.img-scroll-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.img-scroll-box::-webkit-scrollbar {
  height: 5px;
}
.img-scroll-box::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.img-scroll-box::-webkit-scrollbar-track {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}
.read-post-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postlist-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subscribe-click-button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.subscribe-click-button.on {
  background-color: #aec9ff;
}

.subscribe-click-button.off {
  background-color: #e4e4e4;
}

.subscribe-click-button .subscribe-buttton {
  padding: -10px;
}

.scrap-button {
  margin-top: 50px;
  width: fit-content;
  padding: 5px 10px;
  color: #ffc32a;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
}
.list-create-button {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-weight: 500;
}

.read-post-container .post-list {
  width: 100%;
}
.read-post-container .post-list a {
  text-decoration: none;
  color: black;
}

.read-post-container .post-list a:visited {
  text-decoration: none;
  color: #464646;
}

.read-post-container .post-list-cards {
  width: calc(100% - 60px);
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.read-post-container .post-list-cards .post-list-title {
  width: calc(88vw - 15px - 150px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.read-post-container .post-list-row {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.read-post-container .post-list-cards .post-list-date {
  font-size: 12px;
  color: #b4b6b8;
  margin-left: auto;
}

.read-post-container .new-post {
  margin-left: auto;
  border: none;
  background-color: transparent;
  margin-top: 5px;
  cursor: pointer;
}

.deadline-tag {
  padding: 2px 4px;
  margin-left: 10px;
  font-size: 0.5rem;
  border-radius: 4px;
  font-weight: 300;
}
.deadline-tag.gray {
  background-color: #efefef;
}

.deadline-tag.yellow {
  background-color: #fdecc8;
}

.deadline-tag.green {
  background-color: #dbeddb;
}

/*개별 포스트 스타일*/

.article-container {
  word-break: keep-all;
  width: 94%;
  padding: 135px 3% 20px 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.article-container .article-title {
  margin: 0;
  line-height: 200%;
}

.article-container .article-info {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-info-text::after {
  content: "|";
  margin: 0 10px;
}
.article-info-text:nth-child(3):after {
  content: "";
  margin: 0 10px;
}
.article-container .article-attach {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-container .article-attach .article-attach-file {
  padding-left: 20px;
}

.article-container .article-content {
  padding-top: 20px;
  word-break: break-all;
}

@media (max-width: 500px) {
  .read-post-container {
    width: 100%;
  }
  .read-post-container .post-list-cards .post-list-title {
    font-size: 14px;
  }
  .read-post-container .post-list-row {
    font-size: 12px;
  }
  .read-post-container .post-list-cards .post-list-date {
    font-size: 10px;
  }

  .article-container .article-title {
    font-size: 20px;
  }

  .article-container .article-info {
    font-size: 12px;
  }
  .article-container .article-attach {
    font-size: 12px;
  }
}
