.council-info,
.council-calendar {
  width: 96%;
  padding: 10px 3%;
}

.council-title {
  font-size: 17px;
  font-weight: 600;
}

.council-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.council-map-img,
.council-roll-img {
  width: 40vw;
}

.council-calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.council-calendar-card {
  min-width: 300px;
  width: 50%;
  max-width: 500px;
}

.council-calendar-card .dayContainer {
  margin-bottom: 30px;
}

.council-calendar-event {
  display: flex;
  flex-direction: column;
}

.council-event {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid rgb(var(--basic-blue));
}

.council-event .council-event-name {
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 510px) {
  .council-map-img,
  .council-roll-img {
    width: 80vw;
  }
}
